<div class="content-wrapper">
  <div id="gh-user">
    <h2>Github user digest here</h2>
  </div>

  <div id="gh-stats">
    <h2>Github stat dashboard here</h2>
  </div>

  <div id="visualized">
    <h2>Charts here</h2>
  </div>
</div>
