<header class="navigation">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
    </a>
    <ul class="nav-right">
      <li class="nav-link"><a href="/sign-in">Sign in with Github</a></li>
      <li class="nav-link"><a href="javascript:void(0)">About</a></li>
    </ul>
  </div>
</header>
