@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "nav";

$development-dark-grey:  #474747;
$development-med-grey:   #7d7a7a;
$development-light-grey: #acacac;

body, html {
  margin: 0;
  background-color: $development-light-grey;
  font-family: "Helvetica Neue";
}

.content-wrapper {
  @include outer-container;

  #gh-user, #gh-stats, #visualized {
    @include span-columns(12);
    margin: 20px 0;
    background-color: $development-med-grey;

    h2 {
      text-align: center;
    }
  }

  #gh-user {
    .gh-detail {
      @include span-columns(4 of 12);
      padding: 10px;

      img {
        height: 100px;
      }
    }

    .gh-detail-no-user {
      text-align: center;
    }
  }


}
