@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "nav";

$development-dark-grey:  #474747;
$development-med-grey:   #7d7a7a;
$development-light-grey: #acacac;

body, html {
  margin: 0;
  background-color: $development-light-grey;
  font-family: "Helvetica Neue";
}

.content-wrapper {
  @include outer-container;

  #gh-user, .gh-stats-container, #visualized {
    @include span-columns(12);
    margin: 20px 0;
    background-color: $development-med-grey;

    h2 {
      text-align: center;
      font-size: 24px;
    }
  }

  #gh-user {
    .gh-detail {
      @include span-columns(4 of 12);
      padding: 10px;

      img {
        height: 100px;
      }
    }
  }

  .gh-stats-list {
    li {
      @include span-columns(2);
      @include omega(6n);
    }
  }

  .last-ten-list {
    li {
      @include span-columns(2.4);
      @include omega(5n);
    }
  }


  #no-user-alert {
    @include span-columns(12);
    margin: 60px 0;
    text-align: center;
    h1 {
      font-size: 50px;
      font-weight: bold;
      color: rgb(213, 128, 0);
    }
  }
}
