header.navigation {
  $navigation-background: #474747;
  $navigation-height: 60px;
  $navigation-padding: 1em;
  $large-screen: em(860) !default;

  background-color: $navigation-background;
  min-height: 60px;
  width: 100%;
  z-index: 999;

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    padding-left: $navigation-padding;
    padding-right: 2em;

    img {
      max-height: $navigation-height;
      padding: 0.8em 0;
    }
  }

  .nav-right {
    float: right;
    height: $navigation-height;
    padding: $navigation-padding;

    li {
      font-size: 0.8em;
    }
  }
}
